<!DOCTYPE html>
<html>
 <head>
   <title>Trip Planner</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/stylesheets/style.css" />

 </head>
 <body>
   <div class=""><i class="fa fa-bars-x4"></i></div>

   <div class="navbar navbar-top navbar-inverse" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand">Trip Planner</a>
       </div>
       <div id="nav-items" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
         </ul>
       </div>
     </div>
   </div>

   {% block content %}{% endblock %}
 </body>
</html>